<a href="https://colab.research.google.com/github/kitlapp/Telco_ML/blob/main/read_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
url = "https://github.com/kitlapp/Telco_ML/raw/main/ml_ready_dataset.parquet"
df = pd.read_parquet(url, engine="pyarrow")  # or fastparquet

,Is_Churned,Total_Charges,Avg_Monthly_Charge,Tenure,Is_Male,Is_Senior,Is_Married,Has_Dependents,Has_PhoneService,Is_PaperlessBilling,...,Has_StreamingMovies_NoInternet,Has_MultipleLines_No,Has_MultipleLines_NoPhone,Is_InternetService_FiberOptic,Is_InternetService_None,Is_Contract_OneYear,Is_Contract_TwoYear,Is_PaymentMethod_CreditCard,Is_PaymentMethod_ElectronicCheck,Is_PaymentMethod_MailedCheck
0,False,29.85,29.85,1,False,False,True,False,False,True,...,False,False,True,False,False,False,False,False,True,False
1,False,1889.50,55.57,34,True,False,False,False,True,False,...,False,True,False,False,False,True,False,False,False,True
2,True,108.15,54.08,2,True,False,False,False,True,True,...,False,True,False,False,False,False,False,False,False,True
3,False,1840.75,40.91,45,True,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
4,True,151.65,75.82,2,False,False,False,False,True,True,...,False,True,False,True,False,False,False,False,True,False

In [7]:
df.head()

,Is_Churned,Total_Charges,Avg_Monthly_Charge,Tenure,Is_Male,Is_Senior,Is_Married,Has_Dependents,Has_PhoneService,Is_PaperlessBilling,...,Has_StreamingMovies_NoInternet,Has_MultipleLines_No,Has_MultipleLines_NoPhone,Is_InternetService_FiberOptic,Is_InternetService_None,Is_Contract_OneYear,Is_Contract_TwoYear,Is_PaymentMethod_CreditCard,Is_PaymentMethod_ElectronicCheck,Is_PaymentMethod_MailedCheck
0,False,29.85,29.85,1,False,False,True,False,False,True,...,False,False,True,False,False,False,False,False,True,False
1,False,1889.50,55.57,34,True,False,False,False,True,False,...,False,True,False,False,False,True,False,False,False,True
2,True,108.15,54.08,2,True,False,False,False,True,True,...,False,True,False,False,False,False,False,False,False,True
3,False,1840.75,40.91,45,True,False,False,False,False,False,...,False,False,True,False,False,True,False,False,False,False
4,True,151.65,75.82,2,False,False,False,False,True,True,...,False,True,False,True,False,False,False,False,True,False

In [8]:
df.shape

(7043, 31)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Is_Churned                        7043 non-null   bool
 1   Total_Charges                     7043 non-null   float64
 2   Avg_Monthly_Charge                7043 non-null   float64
 3   Tenure                            7043 non-null   int64
 4   Is_Male                           7043 non-null   bool
 5   Is_Senior                         7043 non-null   bool
 6   Is_Married                        7043 non-null   bool
 7   Has_Dependents                    7043 non-null   bool
 8   Has_PhoneService                  7043 non-null   bool
 9   Is_PaperlessBilling               7043 non-null   bool
 10  Has_OnlineSecurity_No             7043 non-null   bool
 11  Has_OnlineSecurity_NoInternet     7043 non-null   bool
 12  Has_OnlineBackup_No               7043 non-null   bool
 13  Has_OnlineBackup_NoInternet       7043 non-null   bool
 14  Has_DeviceProtection_No           7043 non-null   bool
 15  Has_DeviceProtection_NoInternet   7043 non-null   bool
 16  Has_TechSupport_No                7043 non-null   bool
 17  Has_TechSupport_NoInternet        7043 non-null   bool
 18  Has_StreamingTV_No                7043 non-null   bool
 19  Has_StreamingTV_NoInternet        7043 non-null   bool
 20  Has_StreamingMovies_No            7043 non-null   bool
 21  Has_StreamingMovies_NoInternet    7043 non-null   bool
 22  Has_MultipleLines_No              7043 non-null   bool
 23  Has_MultipleLines_NoPhone         7043 non-null   bool
 24  Is_InternetService_FiberOptic     7043 non-null   bool
 25  Is_InternetService_None           7043 non-null   bool
 26  Is_Contract_OneYear               7043 non-null   bool
 27  Is_Contract_TwoYear               7043 non-null   bool
 28  Is_PaymentMethod_CreditCard       7043 non-null   bool
 29  Is_PaymentMethod_ElectronicCheck  7043 non-null   bool
 30  Is_PaymentMethod_MailedCheck      7043 non-null   bool
dtypes: bool(28), float64(2), int64(1)
memory usage: 357.8 KB